<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/note.css"/>
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        function send(){
            const log = getCookie('login');
            let login_input = document.getElementById('login_input');
            login_input.value = log;
        }

        function send_del(){
            const log = getCookie('login');
            let login_list = document.getElementsByClassName('input-none')
            for (let i=0; i < login_list.length; i++){
                login_list[i].value = log;
                login_list[i].setAttribute('value', log)
            }
        }
        const log = getCookie('login');
        function get_log(){
            return log
        }
    </script>
</head>
<body>
<div>
    <form method="post" action="/create">
        <div id="div-input">
        <input type="text" placeholder="Your note" name="note" id="note">
        </div>
        <div>
            <button type="submit" onclick="send()" class="btn">Add</button>
        </div>
        <input type="text" id="login_input" name="login" class="input-none">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="input-container">
        <% for(var i=0; i<arr.length; i++) {%>
        <form method="post" action="/delete">
            <input type="text" class="input-data" value="<%=arr[i].text %>" name="note_text">
            <button type="submit" class="delete-btn" onclick="send_del()" name="login2">Del</button>
            <input type="text" class="input-none" name="login1">
        </form>
        <%} %>
    </div>
</div>
</body>
</html>