<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/note.css"/>
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        function send(){
            const log = getCookie('login');
            const pass = getCookie('password');
            let login_input = document.getElementById('login_input');
            let pass_input = document.getElementById('pass_input');
            login_input.value = log;
            pass_input.value = pass;
        }

    </script>
</head>
<body>
<div>
    <form method="post" action="/create">
        <div id="div-input">
        <input type="text" placeholder="Your note" name="note" id="note">
        </div>
        <div>
            <button type="submit" onclick="send()" id="send-btn">Send</button>
        </div>
        <input type="text" id="login_input" name="login" class="input-none">
        <input type="text" id="pass_input" name="password" class="input-none">
    </form>
    <form method="get">
        <button type="submit" id="show">Show</button>
    </form>
</div>
</body>
</html>