<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/note.css"/>
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        function send(){
            const log = getCookie('login');
            const pass = getCookie('password');
            let login_input = document.getElementById('login_input');
            let pass_input = document.getElementById('pass_input');
            login_input.value = log;
            pass_input.value = pass;
        }
    </script>
</head>
<body>
<div>
    <form method="post" action="/create">
        <div id="div-input">
        <input type="text" placeholder="Your note" name="note" id="note">
        </div>
        <div>
            <button type="submit" onclick="send()" class="btn">Add</button>
        </div>
        <input type="text" id="login_input" name="login" class="input-none">
        <input type="text" id="pass_input" name="password" class="input-none">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="input-container">
        <% for(var i=0; i<arr.length; i++) {%>
        <input type="text" class="input-data" value="<%=arr[i].text %>">
        <button class="delete btn" id="<%arr[i].text%>" onclick="delete_note()">Del</button>
        <%} %>
    </div>
</div>
</body>
</html>